AI-Jarvis==0.0.3
asyncio==3.4.3
attrs==23.1.0
beautifulsoup4==4.12.2
click==7.1.2
EdgeGPT==0.0.60
googletrans==3.1.0a0
gTTS==2.3.2
keyboard==0.13.5
numpy==1.25.0
openai==0.25.0
openpyxl==3.1.2
pandas==2.0.2
pandas-stubs==2.0.2.230605
pathlib==1.0.1
Pillow==9.5.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pyfiglet==0.8.post1
pygame==2.4.0
pyperclip==1.8.2
pypiwin32==223
rich==13.3.5
requests==2.31.0
SpeechRecognition==3.10.0
urllib3==1.26.4
wikipedia==1.4.0
